[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
click = "*"
stups-tokens = "*"
"jinja2" = "*"
requests-futures = "*"
pykube-ng = "*"

[dev-packages]
flake8 = "*"
pytest = "*"
pytest-watch = "*"
black = "*"
"boto3" = "*"
pytest-cov = "*"
coveralls = "*"
coverage = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
