[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kubernetes = "*"
requests = "*"
click = "*"
stups-tokens = "*"
"jinja2" = "*"
requests-futures = "*"

[dev-packages]
flake8 = "*"
pytest = "*"

[requires]
python_version = "3.6"
