<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kubernetes Resource Report</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <script src="sortable.min.js"></script>
    <link rel="stylesheet" href="sortable-theme-minimal.css" />
  </head>
  <body>

  <section class="section">
    <div class="container">
      <table class="table is-striped" data-sortable>
          <thead>
              <tr>
                  <th>ID</th>
                  <th>API URL</th>
                  <th>Master Nodes</th>
                  <th>Worker Nodes</th>
                  <th>CPU Capacity</th>
                  <th>Memory Capacity</th>
                  <th>CPU Alloc.</th>
                  <th>Memory Alloc</th>
                  <th>CPU Requests</th>
                  <th>Memory Requests</th>
                  <th>CPU Used</th>
                  <th>Memory Used</th>
                  <th>Cost</th>
              </tr>
          </thead>
          <tbody>
          {% for cluster_id, summary in cluster_summaries.items(): %}
          <tr>
            <td>{{ cluster_id }}</td>
            <td>{{ summary.cluster.api_server_url }}</td>
            <td>{{ summary.master_nodes }}</td>
            <td>{{ summary.worker_nodes }}</td>
            <td>{{ summary.capacity.cpu|round(1) }}</td>
            <td>{{ summary.capacity.memory|filesizeformat(True) }}</td>
            <td>{{ summary.allocatable.cpu|round(1) }}</td>
            <td>{{ summary.allocatable.memory|filesizeformat(True) }}</td>
            <td>{{ summary.requests.cpu|round(1) }}</td>
            <td>{{ summary.requests.memory|filesizeformat(True) }}</td>
            <td>{{ summary.usage.cpu|round(1) }}</td>
            <td>{{ summary.usage.memory|filesizeformat(True) }}</td>
            <td>{{ summary.cost|round(2) }}</td>

          </tr>

          {%endfor %}
          </tbody>

        </table>

      <table class="table is-striped" data-sortable>
          <thead>
              <tr>
                  <th>Cluster ID</th>
                  <th>Namespace</th>
                  <th>Name</th>
                  <th>Host</th>
              </tr>
          </thead>
          <tbody>
          {% for cluster_id, summary in cluster_summaries.items(): %}
          {% for ingress in summary.ingresses: %}
          <tr>
            <td>{{ cluster_id }}</td>
            <td>{{ ingress[0] }}</td>
            <td>{{ ingress[1] }}</td>
            <td>{{ ingress[2] }}</td>
          </tr>
          {%endfor %}
          {%endfor %}
          </tbody>

        </table>

      <table class="table is-striped" data-sortable>
          <thead>
              <tr>
                  <th>Cluster ID</th>
                  <th>Namespace</th>
                  <th>Name</th>
                  <th>Application</th>
                  <th>CPU Requests</th>
                  <th>Memory Requests</th>
                  <th>CPU Usage</th>
                  <th>Memory Usage</th>
              </tr>
          </thead>
          <tbody>
          {% for cluster_id, summary in cluster_summaries.items(): %}
          {% for namespace_name, pod in summary.pods.items(): %}
          <tr>
            <td>{{ cluster_id }}</td>
            <td>{{ namespace_name[0] }}</td>
            <td>{{ namespace_name[1] }}</td>
            <td>{{ pod.application }}</td>
            <td>{{ pod.requests.cpu|round(3) }}</td>
            <td data-value="{{ pod.requests.memory }}">{{ pod.requests.memory|filesizeformat(True) }}</td>
            <td>{{ (pod.usage|default({"cpu": 0})).cpu|default(0)|round(3) }}</td>
            <td data-value="{{ (pod.usage|default({'memory': 0})).memory }}">{{ (pod.usage|default({"memory": 0})).memory|filesizeformat(True) }}</td>
          </tr>
          {%endfor %}
          {%endfor %}
          </tbody>

        </table>
    </div>
  </section>
  </body>
</html>
