{% extends "base.html" %}
{% block title %}Ingresses{% endblock %}
{% block content %}

      <table class="table is-striped" data-sortable>
          <thead>
              <tr>
                  <th>Cluster ID</th>
                  <th>Namespace</th>
                  <th>Name</th>
                  <th>Host</th>
                  <th>Status</th>
              </tr>
          </thead>
          <tbody>
          {% for cluster_id, summary in cluster_summaries.items(): %}
          {% for ingress in summary.ingresses: %}
          <tr>
            <td>{{ cluster_id }}</td>
            <td>{{ ingress[0] }}</td>
            <td>{{ ingress[1] }}</td>
            <td>{{ ingress[2] }}</td>
            <td><span class="tag
                    {% if ingress[3] >= 500 %}
                       is-danger
                    {% elif ingress[3] >= 400 %}
                       is-info
                    {% elif ingress[3] >= 200 %}
                       is-success
                    {% else: %}
                       is-info
                    {% endif %}
            ">{{ ingress[3] }}</span></td>
          </tr>
          {%endfor %}
          {%endfor %}
          </tbody>

        </table>

{% endblock %}
