apiVersion: v1
kind: Service
metadata:
  name: {{ include "kube-resource-report.fullname" . }}
  labels:
    app.kubernetes.io/name: {{ include "kube-resource-report.name" . }}
    helm.sh/chart: {{ include "kube-resource-report.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.container.portName }}
      protocol: {{ .Values.container.portProtocol }}
      name: {{ .Values.service.portName }}
  selector:
    app.kubernetes.io/name: {{ include "kube-resource-report.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
